* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #a6d5df;
}

.still{
  bottom: -20%;
}
.capa{
  background-color: rgba(3, 53, 252,0.22);
  height: 100vh;
  width: 100%;
}
.container {
  position: absolute;
  width: 120%;
  height: 110%;
  left: -10%;
}

.container #scene .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.container .logo {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  margin: auto;
  width: 25%;
  z-index: 10000;
}

.container #scene .layer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}



.container #scene .layer video {
  position: absolute;
  width: 300px;
  top: 21%;
  left: 50%;
  transform: translate(-50%);
}




.texto{
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
  color: black;
  z-index: 10000000;
  
}

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  margin: auto;
  bottom: 20px;
  right: 50%;
  transform: translate(50%);
  
}

footer .fa-brands, .mail, .telefono{
  padding:20px ;
  color: #a6d5df;
}


/* footer .mail, .telefono{

  
} */
footer .fa-brands{
  font-size: 2.5rem;
  
}

@media screen and (max-width: 900px) {

  .container .logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin: auto;
    width: 60%;
    
    
    }

    .container #scene .layer video {
    position: absolute;
    width: 200px;
    top: 23%;
    left: 50%;
    transform: translate(-50%);
    }

  .texto{
    left: 50%;
  transform: translate(-50%);
  }

    footer{
      flex-direction: column;
    }
    
    footer .mail{
      text-align: center;
    }
    
    footer .fa-brands, .mail, .telefono{
      padding:5px ;
    }
}

@media screen and (orientation:landscape) and
(min-device-width: 320px) and (max-device-width: 900px) {

  .container .logo{
    top: 20%;
  }

  .container #scene .layer video{
    top: 0;
  }

  .texto{
    top: 50%;
    color: #a6d5df;
    z-index: 1000000;
  }

  footer{
    flex-direction: row;
  }
}


.scale-up-center {
  -webkit-animation: scale-up-center 5s ease-in-out both;
          animation: scale-up-center 5s ease-in-out both;
}



@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

