* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #a6d5df;
}

.container {
  position: absolute;
  width: 120%;
  height: 100%;
  left: -10%;
}

.container #scene .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.container .logo {
  position: absolute;
  left: 40%;
  margin: auto;
  width: 50%;
}

.container #scene .layer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.container #scene .still {
  top: 50%;
}

.container #scene .layer video {
  position: absolute;
  width: 350px;
  top: 10%;
  left: 70%;
}


@media only screen and (max-width: 900px) {

	.container .logo {
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		margin: auto;
		width: 75%;
	  }

	  .container #scene .layer video {
		position: absolute;
		width: 250px;
		top: 10%;
		left: 40%;
	  }

    .texto{
      left: 20%;
    }
}


.texto{
  
  position: absolute;
  top: 20%;
  left: 50%;
  right: 10%;
  
}

footer{
  display: flex;
  align-items: center;
  position: absolute;
  margin: auto;
  bottom: 20px;
  right: 50%;
  transform: translate(50%);
  
}

footer .fa-brands, .mail, .telefono{
  padding-left:20px ;
  color: #a6d5df;
}


footer .mail, .telefono{
 
}
footer .fa-brands{
  font-size: 2.5rem;
  
}
