*{
	margin:  0;
	padding: 0;
	box-sizing:  border-box;
}

.banner{	
	posirion: relative;
	width: 100%;
	height:  100vh;
	overflow: hidden;

}

.container{
	position: absolute;
	width:  120%;
	height: 100vh;
	left: -10px;
	background-color: red;
	  }

.container #scene .layer{
	position: absolute;
	top: 0;
	left: 0;
	width:  100%;
	height: 100vh;
}

.container #scene .layer img{
	position: absolute;
	top: 0;
	left: 0;
	width:  100%;
	max-height: 100vh;
	object-fit: cover;
}
